.container{
    width: 575px;
    height: 825px;

    background: rgb(47, 255, 200);
    padding-left: 40px ;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#height,
#weight{
    width: 150px;
    height: 25px;
    margin-top: 30px;
}
#weight-guide {
    margin-left: 75px;
    margin-top: 25px;
}

button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
  
    font-size: 25px;
}

#results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
}

h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }